body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Paytone One', sans-serif;
    #display: flex;
    #justify-content: center;
    #align-items: center;
    #min-height: 100vh;
    #font-size: 1.5rem;
    background-color: #F9F8F3;


}


.salutoADMIN {
    text-align: center;
    color: #FFAD32;
    font-size: 2em;
    justify-content: start;
    padding-top: 1vw;

}

.logout {
    padding-top: 2vw;
    text-align: -webkit-center;
    color: white;
    font-size: 1em;
    justify-content: start;
    text-decoration: none;

}

.logout:hover{
    color: red;
}

.container{
    #padding: 50px;
    position: absolute;
}

.card{
    width: 300px;
    height: 420px;
    background-color: #1E2B32;
    border-radius: 10px 10px;
}

.header{
    padding: 5px;
    background: linear-gradient(to right,#FDA90E, #ffdf2b, #FDA90E);
}

h3{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;
}

.iconM{
    font-size: 18px;
    margin-left: 170px;
    color: #2f89fc;
}

.icon{
    margin-right: 8px;
}

.body li{
    transition: 1s all;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 15px;
    margin-left: -40px;
    margin-top: 0px;
    color: #fff;
    list-style: none;
    display: block;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}

li:hover{
    transition: 1s all;
    color: #2f89fc;
    background-color: rgba(42, 56, 65, 0.82);
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    cursor: pointer;
}

.body > li{
    float: left;
}

.body li ul{
    background: #1E2B32;
    margin-left: 280px;
    margin-top: -38px;
    display: none;
    position: absolute;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
}

.body li:hover > ul{
    display: block;
    cursor: pointer;
}



.clock {
    height: 20vh;
    color: white;
    font-size: 22vh;
    font-family: sans-serif;
    line-height: 20.4vh;
    display: flex;
    position: relative;
    /*background: green;*/
    overflow: hidden;
}

.clock::before, .clock::after {
    content: '';
    width: 7ch;
    height: 3vh;
    background: linear-gradient(to top, transparent, black);
    position: absolute;
    z-index: 2;
}

.clock::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black);
}

.clock > div {
    display: flex;
}

.tick {
    line-height: 17vh;
}

.tick-hidden {
    opacity: 0;
}

.move {
    animation: move linear 1s infinite;
}

@keyframes move {
    from {
        transform: translateY(0vh);
    }
    to {
        transform: translateY(-20vh);
    }
}

.userTable{
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

table{
    border: 3px solid #ccc;

    #margin-left: 2.3vw;
}

tbody{
    margin: 10px;
}

input,select,button {

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    }

#username{
    border: 3px solid #ff9400;
    border-radius: 1vw 0 0 1vw;
}

#password{
    border: 3px solid #ff9400;
}

#passwordOLD{
    border: 3px solid #ff9400;
    border-radius: 1vw 0 0 1vw;
}

#password2{
    border: 3px solid #ff9400;
    border-radius: 0 1vw 1vw 0;
}

#ruolo{
    border: 3px solid #ff9400;
    border-radius: 0 1vw 1vw 0;
}

#buttonSalvaPass{
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: #41ce35;
    border-radius: 0.8vw;
    color: white;
    border: white;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.content-wrap{
    text-align: center;
}

th{
    padding-left: 2vw;
    padding-right: 2vw;
}





@media only screen and (max-width: 600px) {
    .logout{
        font-size: 1.5rem;
        color: red;
    }
}
